{% extends "default/module.html.jinja2" %}

{% block search_box %}{% endblock %}
{% block search_js %}{% endblock %}

{% defaultmacro view_source_state(doc) %}{% enddefaultmacro %}
{% defaultmacro view_source_button(doc) %}{% enddefaultmacro %}
{% defaultmacro view_source_code(doc) %}{% enddefaultmacro %}
